* {
    margin: 0;
}

.box1 {
    border:  2px solid black;
    background-color: rgb(33, 167, 33);
    margin: 2em;
    width: 95%;
    height: 150px;
}

.box2 {
    border: 2px solid black;
    background-color: rgb(255, 255, 56);
    margin: 2em;
    width: 200px;
    height: 200px;
}

.box3 {
    border: 2px solid black;
    background-color: rgb(245, 84, 35);
    margin: 2em;
    width: 78%;
    height: 200px;
    float: right;
    position: absolute;
    top: 185px;
    left: 230px;
}

.box4 {
    border: 2px solid black;
    background-color: rgb(255, 255, 56);
    margin: 2em;
    width: 200px;
    height: 200px;
}

.box5 {
    border: 2px solid black;
    background-color: rgb(0, 102, 255);
    margin: 2em;
    width: 78%;
    height: 200px;
    float: right;
    position: absolute;
    top: 421px;
    left: 230px;
}